.header {
    background: #1F2937;
    display: flex;
    justify-content: space-around;
  }
  
  .logo {
    color: #F9FAF8;
    font-size: 24px;
    padding: 20px;
    padding-left: 50px;
  }
  
  a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
  }

  body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    align-items: center;
    justify-content: center;
  }
  
  button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white; 
  }
    